// Import Google fonts -BEA
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:600,700,800|Source+Sans+Pro:400,600,700&display=swap');

// Define fonts for body and headers -BEA
$body-font: 'Source Sans Pro', "sans-serif";
$headers-font: 'Darker Grotesque', 'Source Sans Pro', 'sans-serif';
// font weights
$regular: 400; // only for Source Sans Pro
$semi-bold: 600; // available for both
$bold: 700; // available for both
$extra-bold: 800; // only Dark Grot

