 .genres {
  padding-top: 19.625rem;
  max-width: 68.75rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media (min-width: 375px) and (max-width: 480px) {

  .not-found h1 {
    font-size: 1.5em;
  }
}
