
<%#= render 'shared/sidebar' %>

<div class="main-container ">
 <div class="container-fluid ">
  <div class="upcomings-and-search">
    <div class="header-pages">
      <h1><%= @tvshows.show_description %></h1>
    </div>
    <% if params[:search] %>
    <div class="search-results">
    <%= render 'search_params' %>
  </div>
    <% else %>
    <%= render 'upcomings' %>
    <%end %>
  </div>
 </div> <!-- end  container-fluid -->
</div> <!-- end main-container -->

<!-- add full height bg color on container-fluid if search reuslts are less than 3 elements -->
<%= javascript_pack_tag 'add_bg_search' %>
