
<%= render 'shared/sidebar' %>

<div class="main-container ">
  <div class="upcomings-and-search">
    <div class="header-pages">
      <h1><%= @tvshows.show_description %></h1>
    </div>
    <% if params[:search] %>
    <div class="search-results">
    <%= render 'search_params' %>
  </div>
    <% else %>
    <%= render 'upcomings' %>
    <%end %>
  </div>
</div> <!-- end main-container -->


