<h1>TVSHOWS#INDEX</h1>

<%= render 'shared/sidebar' %>



<div class="main-container ">
 <div class="container-fluid ">
  <div class="upcomings-and-search">
<div class="header-pages">
  <h1><%= @tvshows.show_description %></h1>
</div>
    <% if params[:search] %>
    <%= render 'search_params' %>
    <% else %>
    <%= render 'upcomings' %>
    <%end %>
  </div>
</div> <!-- end  container-fluid -->
</div> <!-- end main-container -->
