<h1>TVSHOWS#INDEX</h1>


<div class="header_page">
  <h3><%= @tvshows.show_description %></h3>
</div>

  <% if params[:search] %>
    <%= render 'search_params' %>
  <% else %>
    <%= render 'upcomings' %>
  <%end %>
