<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

  <!-- add 3 tvshow images through js fetch Api -->
  <div id="results" class="results-container"></div>
    <%= javascript_pack_tag 'home_poster' %>
