
<%= render 'shared/sidebar' %>

<div class="main-container">
 <div class=" container-fluid ">
  <!-- images from js fetch Api -->
  <div id="results" class="results row ">
  </div> <!-- end results row-->
</div> <!-- end  container-fluid -->
</div> <!-- end main-container -->

<!-- add 3 tvshow images through js fetch Api -->
<%= javascript_pack_tag 'home_poster' %>



