body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  // body-bg define in bootstrap_variables.scss
}

// hide scrollbar from chrome, safari and opera on body pages
::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
  font-family: $headers-font;
  color: $white;
  letter-spacing: 0.04em;
  margin: 0;                // kill default margin
}

h1 {
  font-size: 2.125em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.375em;
}

h4, h5, p, a {
  font-family: $body-font;
  color: $white;
  letter-spacing: 0.04em;
  margin: 0;               // kill default margin
}

h4 {
  font-size: 1.25em;
}


h5 {
  font-size: 0.875em;
}

p {
  font-size: 1.125em;
}


