 .cards-search {
  background-color: $lightdark-blue-grey;
  box-shadow: 8px 8px 22px  rgba(0, 0, 0, 0.1);
  margin-bottom: 1.875rem;
  border-radius: 8px;
  opacity: 1;
  transition: .5s ease;
  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 25.125rem;
  }
  .infos-search {
    padding: 0.5rem 1.25rem;
  }
  .search-name {
    font-size: 1.5em;
    font-weight: $bold;
  }
  .rating-icon {
    padding-top: 0.625rem;
    display: flex;
    .fa-star {
     font-size: 1.2em;
     color: $yellow;
    }
    .rating {
      padding-left: 0.375rem;
      font-weight: $bold;
      color: $yellow;
    }
  } // close infos-search
} // close cards-search

.cards-search a:hover {
  text-decoration: none;
}

.cards-search:hover {
  opacity: 0.5;
}


