  .card-upcomings {
    background-color: $lightdark-blue-grey;
    box-shadow: 8px 8px 22px  rgba(0, 0, 0, 0.1);
    margin-bottom: 1.875rem;
    border-radius: 8px;
    flex-basis: 31.25rem;
    display: flex;
    position: relative;
    img {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      height: 13.125rem;
    }
    .upcomings-text {
      align-self: center;
      left: 0;
      width: 100%;
      padding: 0 1.25rem;
      padding-top: 2.75rem;

      .show-name {
        padding-bottom: 0.75rem;
        font-weight: $semi-bold;
        font-size: 1.5em;
      }
      .airdate-calendar {
        padding-bottom: 0.3rem;
        display: flex;
        align-items: center;
          .fa-calendar-alt {
            color: $yellow;
            font-size: 1em;
          }
          .airdate {
            font-weight: $bold;
            opacity: 0.4;
            padding-left: 0.75rem;
          }
      } // close airdate-calendar
      .season-episode {
        padding-bottom: 1rem;
        display: flex;
        .season {
          font-weight: $semi-bold;
          opacity: 0.3;
        }
        .episode {
          font-weight: $semi-bold;
          opacity: 0.3;
          padding-left: 0.5rem;
        }
      } // close season-episode
    } // close upcomings-text
  } // close card-upcomings


.genre-shows  {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  grid-column-gap: 0.5rem;
  padding-bottom: 0.75rem;
  .type  {
    font-size: 1em;
    background-color: $orange;
    padding: 0.25rem 0.75rem;
    border-radius: 2px;
    font-weight: $semi-bold;
  }
} // close genres-shows

.btn-group  {
  position: absolute;
  right: 0;
  padding-right: 1.25rem;
  .more-text {
    font-size: 1.1em;
    width: 100%;
    cursor: pointer;
    color: $yellow;
    font-weight: $bold;
    padding-top: 1rem;
  }
} // close btn-group

.dropdown-menu {
  background-color: $dark-blue-grey;
  box-shadow: 8px 8px 16px  rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 20rem;
  .dropdown-text {
    padding: 1.2rem 1.5rem;
  }
  .episode-name {
    line-height: 1em;
    padding-bottom: 0.875rem;
  }
  .airtime-network {
    font-size: 0.9em;
    display: flex;
    padding-bottom: 0.375rem;
    .airtime {
      font-weight: $bold;
      opacity: 0.6;
    }
    .network {
      font-weight: $bold;
      opacity: 0.6;
      padding-left: 0.375rem;
    }
  } // close airtime-network
  .summary {
   padding-bottom: 1.125rem;
   opacity: 0.5;
  }
  .divider {
    background-color: $lightdark-blue-grey;
    border-radius: 4px;
    .tvshow-details {
      font-weight: $semi-bold;
      text-align: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    .tvshow-details a {
      color: $yellow;
      transition:  0.6s ease;
    }
    .tvshow-details a:hover{
      text-decoration: none;
      color: white;
      opacity: 0.4;
    }
  } // close divider
} // close dropdown-menu



@media (min-width: 375px) and (max-width: 480px) {

.card-upcomings {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  position: relative;
  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 360px;
    height: auto;
  }
  .upcomings-text {
    padding: 1.1rem 1.3rem;
    .genre-shows {
      padding-bottom: 2.3rem;
    }
  } // close upcomings-text
} // close card-upcomings

.btn-group {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem 1.25rem;
}

} // close media query
